@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-body:'Open Sans',
sans-serif;
$color-primary:#0b156b;
$color-secondary: #37DAF4;
$color-background:#f7f7a9;

@media screen and (max-width: 400px) {

    * {
        font-size:large;
        font-family: $font-body;
        background-color: white;
        box-sizing: border-box;
        text-align: center;
        padding: 0px;
        margin: 0px;
        color: $color-primary
    }

    .reg {
        font-weight: 100;
    }

    .italic {
        font-style: italic;
        font-weight:lighter
    }

    nav,
    nav * {
        height: 60px;
        margin: 10px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    #login {
        display: inline-block;
        border: 2px solid $color-primary;
        border-radius: 5px;
        margin: 10px;
        padding: 15px 20px 12px 20px;
        text-decoration: none;
        font-weight: bolder;
        color: $color-primary;
        text-align: center;
        background-color: white;

    }

    header {

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1{
            margin: 30px 20px;
            padding:10px;
            font-size: 30px;
            font-weight: 900;
            color: $color-secondary;
            }
        

        #phone {
        margin: 20px 20px;
        padding: 00px 70px;
        height: 100%;
        width: 100%;
        }
    }

    main {
        margin: 0px 10px;

        img {
            height: 250px;
            width: 250px;

        }
    }


    #intro {
        h1 {
            margin: 10px 15px 20px 15px;
            padding: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: x-large;
            font-weight:900
        }

        h2 {
            margin:20px 15px;
            padding:10px;
            color: $color-secondary;
            font-size: larger;
        }

        p {
            margin:0px;
            padding:10px;
            font-size:medium;
            font-weight: 100;
        }
    }

    .button {
        display: inline-block;
        border: 2px solid $color-primary;
        border-radius: 5px;
        margin: 30px;
        padding: 10px 60px;
        text-decoration: none;
        font-weight: bold;
        color: white;
        background-color: $color-primary;
    }

    #idea {
        margin:0px;
        padding:0px 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    
        h2{
            font-weight:900;
            font-size:15px;
        }
        span{
            font-weight:100;
            font-size:14px;
        }

        img {
            height: 140px;
            width: auto;
            margin:0px;
            padding: 5px;
        }
    }

    #challange{
        margin:0px;
        padding:0px 10px;
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;
        align-items: center;
    
        h2{
            font-weight:900;
            font-size:15px;
            text-align:left;
            
        }
        span{
            font-weight:100;
            font-size:14px;
        }

        img {
            height: 150px;
            width: auto;
            margin:0px;
            padding-right:30px;
        }

    }
    #read{
        margin:0px;
        padding:0px 10px;
        display: flex;
        text-align:left;
        justify-content: center;
        align-items: center;
    
        h2{
            font-weight:900;
            font-size:15px;
        }
        span{
            font-weight:100;
            font-size:14px;
        }

        img {
            height: 120px;
            width: auto;
            margin:0px;
            padding-left: 00px;
        }
    }

    #super{
        margin:0px;
        padding-right:0px 10px;
        display: flex;
        flex-direction:row-reverse;
        text-align: right;
        justify-content: center;
        align-items: center;
    
        h2{
            font-weight:900;
            font-size:15px;
        }
        span{
            font-weight:100;
            font-size:14px;
        }

        img {
            height: 130px;
            width: auto;
            margin:0px;
            padding: 00px;
        }
    }


     footer {
        margin: 20px 0px 0px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        background-color: $color-background;
        width: 100%;
        }

        a {
            text-decoration: none;
            padding:10px;
            background-color: $color-background;
        }

    }
