@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0px;
  color: #0b156b;
}

.reg {
  font-weight: 100;
}

.italic {
  font-style: italic;
  font-weight: 50;
}

nav,
nav * {
  height: 10vh;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#login {
  border: 2px solid #0b156b;
  border-radius: 5px;
  padding: 7.5px 10px 10px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0b156b;
}

header {
  margin: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #37DAF4;
}
header #phone {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
}

main img {
  height: 250px;
  width: 250px;
  margin: 20px;
  padding: 20px;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#intro h2 {
  color: #37DAF4;
}
#intro p {
  font-weight: 100;
}

.button {
  border: 2px solid #0b156b;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #0b156b;
}

#idea {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 50px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #f7f7a9;
}
footer a {
  text-decoration: none;
  background-color: #f7f7a9;
}

@media screen and (max-width: 400px) {
  body {
    max-width: 100%;
  }
  body * {
    font-size: 16px;
  }

  #img1 {
    height: 100px;
    width: auto;
  }

  #idea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }

  #header {
    font-size: 16px;
  }

  header #phone {
    height: 100%;
    width: 100%;
  }
}